<p id="notice"><%= notice %></p>

<h1>Inventario</h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Existencia</th>
      <th>Precio</th>
      <th>Descripcion</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invts.each do |invt| %>
      <tr>
        <td><%= invt.producto %></td>
        <td><%= invt.existencia %></td>
        <td><%= invt.precio %></td>
        <td><%= invt.descripcion %></td>
        <td><%= invt.fecha %></td>
        <td><%= link_to 'Mostrar', invt %></td>
        <td><%= link_to 'Editar', edit_invt_path(invt) %></td>
        <td><%= link_to 'Eliminar', invt, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Producto', new_invt_path %>
